<div class="container">
<h3>Ask your coach anything</h3>
<br>
<form action="/answer">
  <input type="text" name="question" placeholder="Typing...">
  <input class="btn" type="submit" value="Ask!">
</form>
</div>

